.listItem {
  padding: 0;
}

.list {
  margin: 0 auto;
  list-style: none;
  font-size: 1.3rem;
  width: 400px;
  padding: 0 20px;
  box-shadow: 1px 1px 1px 1px rgb(24, 24, 55);
  margin-bottom: 10px;
  &:hover {
    transform: scale(1.1);
  }
}
.itemBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.text {
  font-size: 1.3rem;
  display: flex;
  gap: 15px;
  margin: 0;
}

.btn:hover {
  background-color: rgb(155, 155, 227);
}
